pkgbase = incus-ui-canonical
	pkgdesc = lxd-ui rebranded to incus
	pkgver = 0.14
	pkgrel = 2
	url = https://github.com/zabbly/incus-ui-canonical
	arch = i686
	arch = x86_64
	license = GPL-3.0-only
	makedepends = git
	makedepends = yarn
	makedepends = npm
	source = incus-ui::git+https://github.com/zabbly/incus-ui-canonical.git
	source = incus-override-ui.conf
	sha256sums = SKIP
	sha256sums = fc1d6927fd984770d729641aabc25069f3fcca389d4f1ca813a17a33e27f7fba

pkgname = incus-ui-canonical
	depends = incus
