pkgbase = incus-ui-canonical
	pkgdesc = lxd-ui rebranded to incus
	pkgver = 0.12
	pkgrel = 2
	url = https://github.com/KosmX/incus-ui-canonical-arch
	arch = i686
	arch = x86_64
	license = GPL-3.0-only
	makedepends = git
	makedepends = yarn
	makedepends = npm
	source = lxd-ui-0.12.tar.gz::https://github.com/canonical/lxd-ui/archive/refs/tags/0.12.tar.gz
	source = incus-zabbly::git+https://github.com/zabbly/incus.git#branch=daily
	source = incus-override-ui.conf
	sha256sums = a82779ba405bda6bf0c704edbd3c153a7719197383928512e8a9519650662849
	sha256sums = SKIP
	sha256sums = 9df2976d3f4397d90c9ddc4ecf71195cf8c6fa13b280342ffa9b62ce36a54673

pkgname = incus-ui-canonical
	depends = incus
